@import url("/node_modules/bootstrap-icons/font/bootstrap-icons.css");
@import 'custom';


//Pour placer mon footer en bas de la page
html{
  position: relative;
  min-height: 100%;
}

footer.footer{
  padding: 15px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

//Définir la font-family de tous les paragraphes
p{
  font-family: $font-family-serif ;
  font-size: 18px;
}

//Je veux que mon image soit en fond de ce bloc «enteimg»
.entetimag{
    position: relative;

  &::before{
    content:"" ;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../Images/Images mobile/Accueil/Entetimag.png");
    background-size: cover;
    filter: brightness(0.3);

  }

  //Pour que le texte soit centré
  .entetimag-content{

      height: 300px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
}

//J'ajoute une class pour justifier le texte de mes paragraphes

.text-justify{
  text-align: justify;
}

